<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"></head>
<body>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">

          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <div class="has-text-danger">
              <%= (error !=null) ? error: "" %>
            </div>
            <form action="/login" method="post" class="box">
              <div class="field">
                <label for="" class="label">Usuario</label>
                <div class="control has-icons-left">
                  <input type="text" placeholder="Persona apellido" class="input"
                    name="user"
                  required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Contraseña</label>
                <div class="control has-icons-left">
                  <input type="password" placeholder="*******" class="input" 
                    name="pwd"
                  required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <button class="button is-success">
                  Entrar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



  <script src="./scripts/login.js"></script>

</body>
</html>